<!DOCTYPE html>
<html>
<head>
  <title>RestTester</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p>You're awesome!</p>
<%= yield %>
<p><strong>Really awesome!</strong></p>

</body>
</html>
